
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 5% auto;
  max-width: 100%;
  background-color: rgb(14, 14, 14);
  padding: 50px;
  padding-top: 10%;
  padding-left: 35%;
}

a {
  color: #00B7FF;
}
